<div class="page page-poi scrollable with-footer">
    <div class="header">
        <img src="./images/600x400.jpg" />
    </div>
    <div class="container rows">
        <div class="row description">
            <span class="row-icon glyphicon glyphicon-grain"></span>
            <%= data.desc %>
        </div>
        <% if ( data.address ) { %>
        <div class="row address">
            <span class="row-icon glyphicon glyphicon-map-marker"></span>
            <%= data.address %>
        </div>
        <% } %>
        <div class="row opening">
            <span class="row-icon glyphicon glyphicon-time"></span>
            <div><%= data.openingDays %></div>
            <span>Ouverture : </span> <%=  data.open_hour %>
        </div>
    </div>
    <div class="footer btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-lg btn-default">Voir sur la carte</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-lg btn-default">Modifier</button>
        </div>
    </div>
</div>