<div class="page page-poi scrollable with-footer poi-generaltype-<%= data.general_type.id %>">
	<div class="container rows">
	    <div class="row photo">
	        <img src="<%= data.image || 'images/placeholder.jpg' %>" />
	        <span class="credit"><%= data.creditPhoto %></span>
            <span class="visit-time">
                <span class="material-icons">access_time</span>
                <span class="text"><%= data.visitTime %> Min</span>
            </span>
	    </div>
        <div class="row heading">
            <span class="row-icon icon-generaltype"></span>
            <div class="title"><%= data.title %></div>
            <div class="type"><%= data.general_type.name_fr %></div>
        </div>
        <% if ( data.address ) { %>
        <div class="row address">
            <span class="row-icon material-icons">place</span>
            <%= data.address %>
        </div>
        <% } %>
        <div class="row description">
            <span class="row-icon material-icons">description</span>
            <%= data.desc %>
        </div>
        <!-- <div class="row opening">
            <span class="row-icon glyphicon glyphicon-time"></span>
            <div><%= data.openingDays %></div>
            <span>Ouverture : </span> <%=  data.open_hour %>
        </div> -->
    </div>
    <div class="footer btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="see-on-map" class="btn btn-lg btn-default bg-duck-egg">Voir sur la carte</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-lg btn-default bg-duck-egg">Modifier</button>
        </div>
    </div>
</div>