<div class="tab-pane active" id="liste">

    <% data.steps.forEach(function(step, itemIndex) { %>
        <% var poiTypeClassname = (step.isPoi ? 'poi-generaltype-'+step.generalType : '') %>
        <% var iconClassname = 'icon-'+ (step.isPoi ? 'generaltype' : 'step-'+step.type+' material-icons' ) %>
        <% var textClassname = 'text-'+ (step.isPoi ? poiTypeClassname : 'step-'+step.type) %>
        <div class="panel panel-default step-<%= step.type %> <%= poiTypeClassname %>">
            <div class="row-icon <%= iconClassname %> <%= textClassname %>"><%= step.isDeparture ? 'explore' : (step.isArrival ? 'pin_drop' : '') %></div>
            <div class="panel-heading" data-toggle="collapse">
                <a class="panel-title clearfix" role="button" data-toggle="collapse" href="#collapse-poi-<%= itemIndex %>">
                    <span class="pull-left title">
                        <span class="meta <%= textClassname %>">
                            <b>#<%= itemIndex + 1 %></b> - <i><%= step.displayTime %></i>
                        </span>
                        <span class="text">
                            <%= step.name %>
                        </span>
                    </span>
                    <% if (step.isPoi) { %>
                    <span class="open-status-icons pull-right">
                        <span class="status-open material-icons">keyboard_arrow_up</span>
                        <span class="status-closed material-icons">keyboard_arrow_down</span>
                    </span>
                    <% } %>
                </a>
            </div>
            <% if (step.isPoi) { %>
            <div id="collapse-poi-<%= itemIndex %>" class="panel-collapse collapse">
                <div class="container">
                    <div class="row photo">
                        <a href="#fiche/<%= step.poiId %>">
                            <img src="<%= step.image || 'images/placeholder.jpg' %>" />
                        </a>
                        <span class="credit"><%= step.creditPhoto %></span>
                    </div>
                    <div class="row description">
                        <%= step.desc %>
                    </div>
                    <div class="row actions">
                        <a class="btn btn-block bg-duck-egg" href="#fiche/<%= step.poiId %>" role="button">Voir le détail</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

    <% }); %>

    </div>
</div>
