<div>
	<div class='profile' >
		<header class="header">
                <div class="inner">
                    <div class="photo" style= 	<% if(data.model.get('photo')){ %>
                    			<%= "background-image:url(data.model.get('photo'))" %>
												<% }else{ %>
                    	"background-image:url('./images/120x120.jpg');"
                    							<% } %>
                    	>
                    </div>
                    <div class="names text-center"><%= data.model.get('nickMame') %></div>
                    <div class="email text-center"><%= data.model.get('mail') %></div>
                </div>
        </header>
		<div class='badge-container row'>
			<div class='col-xs-12'>
			</div>
		</div>
	</div>
</div>