.page-contribution {
    background-color: #F4F5F6;
    padding-bottom: 15px;
}

.page-contribution .container {
    padding: 
}

.page-contribution .img-preview {
    display: table;
    width: 100%;
    height: 200px;
    background: url("../images/placeholder.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 15px;
    color: #FFF;
}

.page-contribution .img-preview > .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.page-contribution .img-preview img {
    max-width: 90%;
    max-height: 150px;
}

.page-contribution .img-preview .icon-camera {
    display: block;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 5rem;
}

.page-contribution .img-preview.complete .icon-camera {
    display: none;
}

.page-contribution #take-picture {
    display: none;
    text-align: center;
    width: 100%;
}

.page-contribution #take-picture > span:nth-child(2),
.page-contribution .img-preview.complete #take-picture > span:nth-child(1) {
    display: none;
}
.page-contribution .img-preview.complete #take-picture > span:nth-child(2) {
    display: inline;
}

.page-contribution.is-device #input-picture {
    display: none;
}

.page-contribution.is-device #take-picture {
    display: block;
}

.page-contribution .form-group {
    position: relative;
    margin-left: 4rem;
    border-bottom: 1px solid #CCC;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
}

.page-contribution .form-group.with-textarea {
    padding-bottom: 0;
}

.page-contribution .form-group input,
.page-contribution .form-group textarea {
    border: none;
    background: transparent;
    box-shadow: none;
    padding-left: 0;
}

.page-contribution .form-group textarea {
    height: 70px;
}

.page-contribution input[type=file]::before {
    color: #FFF;
}

.page-contribution .icon-field {
    position: absolute;
    left: -4rem;
    color: #AAA;
    top: 4px;
}

.page-contribution .form-group.required:after {
    content: "*";
    position: absolute;
    right: 0;
    top: 10px;
}

.page-contribution .footer {
    /*position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    border-collapse: separate;*/
    border-spacing: 10px 0;
    /*padding: 0 5px 15px;*/
    padding: 0 5px;
    background-color: #F4F5F6;
}

.page-contribution .footer .btn {
    border: none;
    text-transform: uppercase;
    font-size: 1.1rem;
}

body.section-contribution .app-header .btn-back {
    display: inline-block;
}
body.section-contribution .app-header .btn-sidenav {
    display: none;
}