        <div id="poi-form" class="page page-contribution scrollable with-header">
            <form>
                <h2>description</h2>
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <div class="row-fluid img-preview"> <img class="editor-picture-img" src="">
                            <input type="file" accept="image/*" capture="" id="input-picture">
                        </div>
                        <div class="help-inline"></div>
                        <div class="help-block"></div>
                    </div>
                </div>
                <fieldset>
                    <div class="form-group">
                        <label for="c2_name">Name</label>
                        <input id="c2_name" name="name" type="text" class="form-control">
                        <%= data.model.get('name') %>
                    </div>
                    <div class="form-group">
                        <label for="c2_type_id">Type de POI</label>
                        <select id="c2_type_id" name="type_id" class="form-control">
                            <% data.typepoiinstance.each(function(poitype, key){ %>
                                <option value="<%= poitype.id %>">
                                    <%= poitype.get('name_fr') %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="c2_street">Street</label>
                        <input id="c2_street" name="street" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="c2_postal_code">Code postal</label>
                        <input id="c2_postal_code" name="postal_code" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="c2_desc">Description</label>
                        <textarea id="c2_desc" name="desc" class="form-control" rows="4"></textarea>
                    </div>
                </fieldset>
                <h2>géolocalisation</h2>
                <fieldset>
                    <div class="form-group">
                        <label for="c2_longitude">Longitude</label>
                        <input id="c2_longitude" name="longitude" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="c2_latitude">Latitude</label>
                        <input id="c2_latitude" name="latitude" type="number" step="any">
                    </div>
                </fieldset>
                <h2>Informations optionnelles</h2>
                <fieldset>
                    <div class="form-group">
                        <label for="c2_visit_time_min">Temps minimum de la visite</label>
                        <select id="c2_visit_time_min" name="visit_time_min" class="form-control">
                            <option value='5'>5 min</option>
                            <option value='10'>10 min</option>
                            <option value='20'>20 min</option>
                            <option value='30'>30 min</option>
                            <option value='60'>60 min</option>
                            <option value='90'>1h30</option>
                            <option value='120'>2h</option>
                            <option value='180'>3h</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="c2_visit_time_max">Temps maximum de la visite</label>
                        <select id="c2_visit_time_max" name="visit_time_max" class="form-control">
                            <option value='10'>10 min</option>
                            <option value='20'>20 min</option>
                            <option value='30'>30 min</option>
                            <option value='60'>60 min</option>
                            <option value='90'>1h30</option>
                            <option value='120'>2h</option>
                            <option value='180'>3h</option>
                            <option value='240'>4h</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="c2_price_min">Prix minimum</label>
                        <select id="c2_price_min" name="price_min">
                            <option value='0'>gratuit</option>
                            <option value='1'>1€</option>
                            <option value='2'>2€</option>
                            <option value='3'>3€</option>
                            <option value='5'>5€</option>
                            <option value='10'>10€</option>
                            <option value='20'>20€</option>
                            <option value='50'>50€</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="c2_price_max">Prix maximum</label>
                        <select id="c2_price_max" name="price_max">
                            <option value='1'>1€</option>
                            <option value='2'>2€</option>
                            <option value='3'>3€</option>
                            <option value='5'>5€</option>
                            <option value='10'>10€</option>
                            <option value='20'>20€</option>
                            <option value='50'>50€</option>
                            <option value='100'>100€</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="c2_phone">Téléphone</label>
                        <input id="c2_phone" name="phone" type="tel" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="c2_mail">Email</label>
                        <input id="c2_mail" name="mail" type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked"> Avec enfant
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary submit" name="Ajouter" value="Ajouter">
                </div>
            </form>
        </div>