        <div id="poi-form" class="page page-contribution scrollable with-header">
            <div class="header row img-preview"> 
                <img class="editor-picture-img " src="">
                <input type="file" accept="image/*" capture="" id="input-picture" >
            </div>
            <form>
                <h2>Description</h2>
                <fieldset>
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input id="name" name="name" type="text" class="form-control" placeholder="Nom du lieu">
                        <%= data.model.get('name') %>
                    </div>
                    <div class="form-group">
                        <label for="type_id">Type de POI</label>
                        <select id="type_id" name="type_id" class="form-control">
                            <% data.typepoiinstance.each(function(poitype, key){ %>
                                <option value="<%= poitype.type_id %>">
                                    <%= poitype.get('name_fr') %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="geoloc">
                        <div class="form-group">
                            <label for="geoloc">Adresse</label>
                            <input id="geoloc" name="adresse" class="form-control" type="text" placeholder="exemple : 1 place de la République, Marseille" size="90" >
                        </div>
                        <fieldset class="hidden">
                            <div class="form-group">
                                <label for="street">Rue</label>
                                <input id="street" name="route" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="postal_code">Code POSTAL</label>
                                <input id="postal_code" name="postal_code" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="longitude">Longitude</label>
                                <input id="longitude" name="lng" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="latitude">Latitude</label>
                                <input id="latitude" name="lat" type="text" class="form-control">
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea id="desc" name="desc" class="form-control" rows="4" placeholder="Quelques lignes pour décrire le lieu"></textarea>
                    </div>
                </fieldset>

                <h2>Informations optionnelles</h2>
                <fieldset>
                    <div class="form-group">
                        <label for="visit_time_min">Temps minimum de la visite</label>
                        <select id="visit_time_min" name="visit_time_min" class="form-control">
                            <option value='5'>5 min</option>
                            <option value='10'>10 min</option>
                            <option value='20'>20 min</option>
                            <option value='30'>30 min</option>
                            <option value='60'>60 min</option>
                            <option value='90'>1h30</option>
                            <option value='120'>2h</option>
                            <option value='180'>3h</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="visit_time_max">Temps maximum de la visite</label>
                        <select id="visit_time_max" name="visit_time_max" class="form-control">
                            <option value='10'>10 min</option>
                            <option value='20'>20 min</option>
                            <option value='30'>30 min</option>
                            <option value='60'>60 min</option>
                            <option value='90'>1h30</option>
                            <option value='120'>2h</option>
                            <option value='180'>3h</option>
                            <option value='240'>4h</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price_min">Prix minimum</label>
                        <select id="price_min" name="price_min" class="form-control">
                            <option value='0'>gratuit</option>
                            <option value='1'>1€</option>
                            <option value='2'>2€</option>
                            <option value='3'>3€</option>
                            <option value='5'>5€</option>
                            <option value='10'>10€</option>
                            <option value='20'>20€</option>
                            <option value='50'>50€</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price_max">Prix maximum</label>
                        <select id="price_max" name="price_max" class="form-control">
                            <option value='0'>gratuit</option>
                            <option value='1'>1€</option>
                            <option value='2'>2€</option>
                            <option value='3'>3€</option>
                            <option value='5'>5€</option>
                            <option value='10'>10€</option>
                            <option value='20'>20€</option>
                            <option value='50'>50€</option>
                            <option value='100'>100€</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="phone">Téléphone</label>
                        <input id="phone" name="phone" type="tel" class="form-control" placeholder="exemple : 0491000000">
                    </div>
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input id="mail" name="mail" type="email" class="form-control" placeholder="exemple : contact@monlieu">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input id="with_child" type="checkbox" checked="checked"> Avec enfant
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary submit" name="Ajouter" value="Ajouter">
                </div>
            </form>
        </div>