<div class="tab-pane active">
    <div id="map"></div>
    <% if (data.mode === "direction") { %>
    <div class="tour-destination">
        <input type="text" placeholder="Destination..." />
    </div>
    <% } %>
    <div class="dropup fab-dial floating bottom left open">
        <button class="btn btn-default dropdown-toggle btn-fab btn-lg bg-blue" type="button" data-toggle="dropdown">
            <span class="icon-close material-icons">settings</span>
            <span class="icon-open material-icons">edit</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="btn-interest" href="#">
                    <span class="btn-fab bg-purple"><span class="material-icons">favorite</span></span>
                    <span class="badge">Intérêts</span>
                </a>
            </li>
            <li>
                <a class="btn-position" href="#">
                    <span class="btn-fab bg-magenta"><span class="material-icons">place</span></span>
                    <span class="badge">Départ</span>
                </a>
            </li>
            <li>
                <a class="btn-distance" href="#">
                    <span class="btn-fab bg-lime"><span class="material-icons">directions_run</span></span>
                    <span class="badge">Distance max.</span>
                </a>
            </li>
            <li>
                <a class="btn-time" href="#">
                    <span class="btn-fab bg-yellow"><span class="material-icons">access_time</span></span>
                    <span class="badge">Durée max.</span>
                </a>
            </li>
        </ul>
    </div>
    <a href="#contribution">
        <button class="btn btn-default btn-fab btn-lg bg-orange-light floating bottom right" type="button">
            <span class="material-icons">add</span>
        </button>
    </a>
</div>
