.tab-content {
    /* FIXME: set 100% for all ancestors? */
    height: 500px;
}

/* Map positionning */

#map {
    position: absolute;
    top: 41px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* POI popup */

#poi-popup {
    width: 200px;
    left: -100px;
}
#poi-popup .popover-title {
    color: #6E6E6E;
    text-transform: uppercase;
}
#poi-popup .credit {
    position: relative;
    left: .5rem;
    bottom: 2rem;
    color: #FFF;
    font-size: 1rem;
}
#poi-popup .row.photo img {
    width: 100%;
    height: auto;
}

/* Slider for distance form */

#distance-form {
    text-align: center;
}
#distance-form .slider {
    width: 75%;
    margin: 1em;
}
#distance-form .slider.slider-horizontal .slider-track {
    height: 6px;
    margin-top: -3px;
}
#distance-form .slider.slider-horizontal .slider-handle {
    margin-top: -7px;
    background-color: #EEE;
    background-image: none;
    border: 1px solid #FFF;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
#distance-form .slider .slider-selection {
    background: #8BE129;
}
#distance-form .slider .tooltip-main {
    margin-top: 0px;
}
#distance-form .slider .tooltip-arrow {
    display: none;
}
#distance-form .slider .tooltip-inner {
    background-color: transparent;
    border-radius: initial;
}
#distance-form .slider .slider-handle.custom {
    border-width: 2px;
    background: url("../images/pilgrim.png") #fff no-repeat center;
    border-radius: 10px;
    background-size: contain;
}
#distance-form .slider .slider-handle.custom::before {
    content: '';
}

/* Interest form */

#interest-form li {
    /*margin: 0.5em;
    padding: 15px 0 15px 70px;
    background-repeat: no-repeat;
    position: relative;
    color: #888;*/
    display: inline-block;
    background: no-repeat center;
    background-size: contain;
    width: 33%;
    height: 100px;
    margin-bottom: 1rem;
}
#interest-form li.active {
    color: inherit;
}

/* TODO: resolve by nomenclature */
#interest-form li.interest-1 {
    background-image: url("../images/general_types/1-avenue_tree_grey.png");
}
#interest-form li.interest-2 {
    background-image: url("../images/general_types/2-remarkable_tree_grey.png");
}
#interest-form li.interest-3 {
    background-image: url("../images/general_types/3-park_garden_grey.png");
}
#interest-form li.interest-4 {
    background-image: url("../images/general_types/4-strange_place_grey.png");
}
#interest-form li.interest-5 {
    background-image: url("../images/general_types/5-revegetated_street_grey.png");
}
#interest-form li.interest-6 {
    background-image: url("../images/general_types/6-wild_plant_grey.png");
}
#interest-form li.interest-7 {
    background-image: url("../images/general_types/7-vegetable_garden_grey.png");
}
#interest-form li.interest-8 {
    background-image: url("../images/general_types/8-landscaping_grey.png");
}

#interest-form li.active.interest-1 {
    background-image: url("../images/general_types/1-avenue_tree.png");
}
#interest-form li.active.interest-2 {
    background-image: url("../images/general_types/2-remarkable_tree.png");
}
#interest-form li.active.interest-3 {
    background-image: url("../images/general_types/3-park_garden.png");
}
#interest-form li.active.interest-4 {
    background-image: url("../images/general_types/4-strange_place.png");
}
#interest-form li.active.interest-5 {
    background-image: url("../images/general_types/5-revegetated_street.png");
}
#interest-form li.active.interest-6 {
    background-image: url("../images/general_types/6-wild_plant.png");
}
#interest-form li.active.interest-7 {
    background-image: url("../images/general_types/7-vegetable_garden.png");
}
#interest-form li.active.interest-8 {
    background-image: url("../images/general_types/8-landscaping.png");
}
/* TODO: prettify, change char or font or both */
/*#interest-form li::after {
    position: absolute;
    top: 15px;
    right: 0;
    content: "\26aa";
    color: #fff;
}
#interest-form li.active::after {
    content: "\2713";
    color: #3EB088;
}*/

/* Time form */

#time-form .swiper-wrapper {
    /* I'm not sure why this work... Might be wrong on different screen size */
    /*margin-top: 0em;
    margin-bottom: -20em;*/
}
#time-form.swiper-container {
    height: 12rem;
    border-top: 1px solid #333;
}
#time-form .swiper-slide {
    height: 33%;
    font-size: 3rem;
    text-align: center;
}
#time-form .swiper-slide-active {
    color: #FFD104;
}

/* Position form */

#position-form {
    text-align: center;
    min-height: 16em;
}
.pac-container {
    z-index: 1060;
}
#position-form input {
    width: 80%;
    border: none;
    border-bottom: 1px solid #888;
    background-color: transparent;
    margin: 0.2em;
    padding: 0.2em;
}
#position-form span {
    color: #F4004F;
    top: 0.4em;
    left: -0.4em;
}

/* Destination form */
/* TODO: move this to app-header section */
.tour-destination {
    position: absolute;
    top: 55px;
    right: 10px;
    left: 50px;
}
.tour-destination input {
    padding: 0.25em;
    width: 100%
}