/* Override Bootstrap */

a {
    color: inherit;
}
a:focus, a:hover {
    color: inherit;
    text-decoration: inherit;
}

.btn {
    color: inherit;
    border-radius: 0;
}

.btn-link:focus,
.btn-link:hover {
    color: inherit;
    text-decoration: inherit;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    border-color: transparent;
}

.nav-tabs {
    border: none;
}
.nav-tabs {
    border-bottom: none;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-tabs>li>a {
    border: none;
    border-radius: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: inherit;
    background-color: inherit;
    border: none;
}

.panel {
    border-radius: 0;
    border-color: #EEE;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.15);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.15);
}

.panel-default>.panel-heading {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    border-bottom: none;
}

.panel-title {
    font-size: inherit;
}

a.panel-title {
    display: block;
    position: relative;
    /*float: left;
    width: 90%;*/
}

.panel-default>.panel-collapse {
    border-top: 1px solid #DDD;
}

.dropdown-menu>li>a {
    font-weight: inherit;
    color: inherit;
}

.form-group.required label:after {
  content: "*";
  color: red;
}

/* End override Bootstrap */

input[type=file] {
    font-size: 0;
}

input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type=file]::before {
    content: "Prendre une photo";
    color: black;
    font-size: 1.3rem;
    display: inline-block;
    /*background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;*/
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    /*text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;*/
}

input[type=file]:hover::before {
    border-color: black;
}

input[type=file]:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

ul, li {
    list-style: none;
}

body {
    background: #FFF;
    /*width: 100%;*/
    height: 100%;
    color: #000;
    font-size: 10px;
    /*font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;*/
}

body.keyboardshow .hidden-by-keyboard {
    display: none !important;
}

.app-container,
.app-container > .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Colors */

.bg-blue,
.btn-default:hover.bg-blue,
.open>.dropdown-toggle.btn-default.bg-blue,
.open>.dropdown-toggle.btn-default.bg-blue:hover,
.btn-default.bg-blue:active:focus, .btn-default.bg-blue:active:hover {
    color: #FFF;
    background-color: #005C7A;
}

.text-blue {
    color: #005C7A;
}

.bg-blue-light,
.btn-default:hover.bg-blue-light,
.open>.dropdown-toggle.btn-default.bg-blue-light,
.open>.dropdown-toggle.btn-default.bg-blue-light:hover,
.btn-default.bg-blue-light:active:focus, .btn-default.bg-blue-light:active:hover {
    color: #FFF;
    background-color: #01A6FE;
}

.text-blue-light {
    color: #01A6FE;
}

.bg-orange-light,
.btn-default:hover.bg-orange-light,
.open>.dropdown-toggle.btn-default.bg-orange-light,
.open>.dropdown-toggle.btn-default.bg-orange-light:hover,
.btn-default.bg-orange-light:active:focus, .btn-default.bg-orange-light:active:hover {
    color: #FFF;
    background-color: #F28D1A;
}

.text-orange-light {
    color: #F28D1A;
}

.bg-orange,
.btn-default:hover.bg-orange,
.open>.dropdown-toggle.btn-default.bg-orange,
.open>.dropdown-toggle.btn-default.bg-orange:hover,
.btn-default.bg-orange:active:focus, .btn-default.bg-orange:active:hover {
    color: #FFF;
    background-color: #E77134;
}

.text-orange {
    color: #E77134;
}

.bg-magenta,
.btn-default:hover.bg-magenta,
.open>.dropdown-toggle.btn-default.bg-magenta,
.open>.dropdown-toggle.btn-default.bg-magenta:hover,
.btn-default.bg-magenta:active:focus, .btn-default.bg-magenta:active:hover {
    color: #FFF;
    background-color: #C80074;
}

.text-magenta {
    color: #C80074;
}

.bg-lime,
.btn-default:hover.bg-lime,
.open>.dropdown-toggle.btn-default.bg-lime,
.open>.dropdown-toggle.btn-default.bg-lime:hover,
.btn-default.bg-lime:active:focus, .btn-default.bg-lime:active:hover {
    color: #FFF;
    background-color: #6EA327;
}

.text-lime {
    color: #6EA327;
}

.bg-yellow,
.btn-default:hover.bg-yellow,
.open>.dropdown-toggle.btn-default.bg-yellow,
.open>.dropdown-toggle.btn-default.bg-yellow:hover,
.btn-default.bg-yellow:active:focus, .btn-default.bg-yellow:active:hover {
    color: #FFF;
    background-color: #D0CD16;
}

.text-yellow {
    color: #D0CD16;
}

.bg-purple,
.btn-default:hover.bg-purple,
.open>.dropdown-toggle.btn-default.bg-purple,
.open>.dropdown-toggle.btn-default.bg-purple:hover,
.btn-default.bg-purple:active:focus, .btn-default.bg-purple:active:hover {
    color: #FFF;
    background-color: #6E1E76;
}

.text-purple {
    color: #6E1E76;
}

.text-step-departure {
    color: #3FB48D;
}

.text-step-arrival {
    color: #F00;
}

/* General types */
/* TODO: Get good colors */
.text-poi-generaltype-1 {
    color: #56812D;
}

.text-poi-generaltype-2 {
    color: #C80074;
}

.text-poi-generaltype-3 {
    color: #6EA227;
}

.text-poi-generaltype-4 {
    color: #F28D1A;
}

.text-poi-generaltype-5 {
    color: #6E1E76;
}

.text-poi-generaltype-6 {
    color: #E00131;
}

.text-poi-generaltype-7 {
    color: #005D79;
}

.text-poi-generaltype-8 {
    color: #43A391;
}


/* Components */

.sidenav {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    transition: transform .2s ease-out;
    transform: translateX(-100%);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 300;
}
.sidenav > .inner {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #212223;
}
body.show-sidenav .sidenav {
    transform: translateX(0);
}

.sidenav .header {
    text-align: center;
    padding: 3rem;
    border-bottom: 1px solid #111;
}

.sidenav .header .photo {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #3EB088;
    margin: 0 auto;
    background: #D0D1D2 no-repeat center;
    background-size: cover;
}

.sidenav .header .names {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1.5rem;
}

.sidenav .nav {
    padding: 3rem;
}

.sidenav .nav li {
    margin-top: 2rem;
}
.sidenav .nav li:first-child {
    margin-top: 0;
}

.sidenav .nav li > a > span {
    margin-right: 2rem;
    vertical-align: bottom;
}

.app-header {
    background: #56812D;
    color: #FFF;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.app-header .material-icons {
    vertical-align: bottom;
}

.app-header .btn-back {
    display: none;
}

.app-header .title {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}

body.section-poi .app-header .btn-back,
body.section-contribution .app-header .btn-back {
    display: inline-block;
}
body.section-poi .app-header .btn-sidenav,
body.section-contribution .app-header .btn-sidenav {
    display: none;
}

.btn-fab {
    padding: 0;
    border-radius: 50%;
    border: none;
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 2.8em;
    text-align: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
.btn-fab.btn-lg {
    width: 3em;
    height: 3em;
    line-height: .5em;
}

.btn-fab > span {
    vertical-align: middle;
    font-size: 1.9em;
}

.btn-fab > span.icon-open {
    display: none;
}
.fab-dial.open .btn-fab > span.icon-open {
    display: inline-block;
}
.fab-dial.open .btn-fab > span.icon-close {
    display: none;
}

.btn-fab.btn-lg > span {
    top: 0;
    left: 1px;
}

.floating {
    position: absolute;
}
.floating.bottom {
    bottom: 2rem;
}
.floating.left {
    left: 2rem;
}
.floating.right {
    right: 2rem;
}

.fab-dial .dropdown-menu {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.2s,opacity 0.2s ease-out;
    transition: visibility 0s linear 0.2s,opacity 0.2s ease-out;
}

.fab-dial.open .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.fab-dial .dropdown-menu>li>a {
    padding: .5rem 0 .5rem .7rem;
}

.fab-dial .dropdown-menu .btn-fab {
    position: relative;
    z-index: 1;
}

.fab-dial .badge {
    font-weight: inherit;
    padding: .7rem 1rem .6rem 2.3rem;
    border-radius: 2rem;
    margin-left: -2rem;
    background: rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}


.bootstrap-dialog.has-close-btn-ok .modal-header {
    padding: 0;
}

.bootstrap-dialog.has-close-btn-ok .modal-header .bootstrap-dialog-title {
    padding: 11px 15px;
}

.bootstrap-dialog.has-close-btn-ok .modal-header .close {
    font-size: 0;
    margin-top: 0;
    color: #FFF;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
    font-weight: 400;
    padding: 15px;
    background-color: rgba(0,0,0,.3);
    border-left: 1px solid rgba(255,255,255,.7);
}

.bootstrap-dialog.has-close-btn-ok .modal-header .close:before {
    content: "OK";
    font-size: 16px;
}

.bootstrap-dialog .modal-header .material-icons {
    vertical-align: top;
}

.bootstrap-dialog.body-no-padding .modal-body {
    padding: 0;
}

.bootstrap-dialog.bottom-sheet .modal-dialog {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    margin: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.bootstrap-dialog.bottom-sheet .modal-content,
.bootstrap-dialog.bottom-sheet .modal-header {
    border-radius: 0;
    border: none;
}

.bootstrap-dialog.bottom-sheet .modal-content {
    color: #FFF;
    background: rgba(0, 0, 0, .7);
}

.bootstrap-dialog.bottom-sheet.theme-purple .modal-header {
    background: #6E1E76;
}
.bootstrap-dialog.bottom-sheet.theme-orange .modal-header {
    background: #EB5A14;
}
.bootstrap-dialog.bottom-sheet.theme-magenta .modal-header {
    background: #C80074;
}
.bootstrap-dialog.bottom-sheet.theme-lime .modal-header {
    background: #6EA327;
}
.bootstrap-dialog.bottom-sheet.theme-yellow .modal-header {
    background: #D0CD16;
}


#main {
    position: absolute;
    width: 100%;
    left: 0;
    top: 46px;
    bottom: 0;
}

/* Splash screen */

.splashscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../images/splash_bg.jpg") no-repeat center;
    background-size: cover;
}

.splashscreen .logo {
    position: absolute;
    width: 50%;
    height: 75%;
    left: 25%;
    top: 0;
    background: url(../images/logo.png) center no-repeat;
    background-size: contain;
}

.splashscreen .bottom {
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
    background: url("../images/splash_bottom.png") no-repeat center;
    background-size: cover;
}


/* PAGES */

.page {
    opacity: 1;
    transition: opacity .3s linear;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #FFF;
    font-size: 1.3rem;
}

.page.scrollable {
    overflow: auto;
}

.page.scrollable.with-header > .container {
    padding-top: 55px;
}

.page.scrollable.with-footer {
    padding-bottom: 65px;
}

