/* Override Bootstrap */

a {
    color: inherit;
}
a:focus, a:hover {
    color: inherit;
    text-decoration: inherit;
}

.btn {
    color: inherit;
    border-radius: 0;
}

.btn-link:focus,
.btn-link:hover {
    color: inherit;
    text-decoration: inherit;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    border-color: transparent;
}

.nav-tabs {
    border: none;
}
.nav-tabs {
    border-bottom: none;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav-tabs>li>a {
    border: none;
    border-radius: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: inherit;
    background-color: inherit;
    border: none;
}

.panel {
    border-radius: 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.panel-default>.panel-heading {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    border-bottom: none;
}

.panel-title {
    font-size: inherit;
}

a.panel-title {
    display: block;
    float: left;
    width: 90%;
}

.panel-default>.panel-collapse {
    border-top: 1px solid #DDD;
}

.dropdown-menu>li>a {
    font-weight: inherit;
    color: inherit;
}

/* End override Bootstrap */

* {
    padding: 0;
    margin: 0;
    outline: none;
}

ul, li {
    list-style: none;
}

body {
    background: #FFF;
    /*width: 100%;*/
    height: 100%;
    color: #000;
    font-size: 10px;
    /*font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;*/
}

.app-container,
.app-container > .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Colors */

.bg-blue-light,
.btn-default:hover.bg-blue-light,
.open>.dropdown-toggle.btn-default.bg-blue-light,
.open>.dropdown-toggle.btn-default.bg-blue-light:hover,
.btn-default.bg-blue-light:active:focus, .btn-default.bg-blue-light:active:hover {
    color: #FFF;
    background-color: #01A6FE;
}

.text-blue-light {
    color: #01A6FE;
}

.bg-orange-light,
.btn-default:hover.bg-orange-light,
.open>.dropdown-toggle.btn-default.bg-orange-light,
.open>.dropdown-toggle.btn-default.bg-orange-light:hover,
.btn-default.bg-orange-light:active:focus, .btn-default.bg-orange-light:active:hover {
    color: #FFF;
    background-color: #FF8601;
}

.text-orange-light {
    color: #FF8601;
}

.bg-orange,
.btn-default:hover.bg-orange,
.open>.dropdown-toggle.btn-default.bg-orange,
.open>.dropdown-toggle.btn-default.bg-orange:hover,
.btn-default.bg-orange:active:focus, .btn-default.bg-orange:active:hover {
    color: #FFF;
    background-color: #EB5A14;
}

.text-orange {
    color: #EB5A14;
}

.bg-magenta,
.btn-default:hover.bg-magenta,
.open>.dropdown-toggle.btn-default.bg-magenta,
.open>.dropdown-toggle.btn-default.bg-magenta:hover,
.btn-default.bg-magenta:active:focus, .btn-default.bg-magenta:active:hover {
    color: #FFF;
    background-color: #F4004F;
}

.text-magenta {
    color: #F4004F;
}

.bg-lime,
.btn-default:hover.bg-lime,
.open>.dropdown-toggle.btn-default.bg-lime,
.open>.dropdown-toggle.btn-default.bg-lime:hover,
.btn-default.bg-lime:active:focus, .btn-default.bg-lime:active:hover {
    color: #FFF;
    background-color: #8BE129;
}

.text-lime {
    color: #8BE129;
}

.bg-yellow,
.btn-default:hover.bg-yellow,
.open>.dropdown-toggle.btn-default.bg-yellow,
.open>.dropdown-toggle.btn-default.bg-yellow:hover,
.btn-default.bg-yellow:active:focus, .btn-default.bg-yellow:active:hover {
    color: #FFF;
    background-color: #FFD104;
}

.text-yellow {
    color: #FFD104;
}

/* Components */

.sidenav {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    transition: transform .2s ease-out;
    transform: translateX(-100%);
    color: #FFF;
    font-size: 1.5rem;
}
.sidenav > .inner {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 1);
}
body.show-sidenav .sidenav {
    transform: translateX(0);
}

.sidenav .header {
    text-align: center;
    padding: 3rem;
    border-bottom: 1px solid #222;
}

.sidenav .header .photo {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #3EB088;
    margin: 0 auto;
    background: no-repeat center;
    background-size: cover;
}

.sidenav .header .names {
    text-transform: uppercase;
}

.sidenav .nav {
    padding: 3rem;
}

.sidenav .nav li {
    margin-top: 2rem;
}
.sidenav .nav li:first-child {
    margin-top: 0;
}

.sidenav .nav li > a > span {
    margin-right: 2rem;
}

.app-header {
    background: #3EB088;
    color: #FFF;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.app-header .btn-back {
    display: none;
}

.app-header .title {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
}

body.section-poi .app-header .btn-back {
    display: inline-block;
}
body.section-poi .app-header .btn-sidenav {
    display: none;
}

.btn-fab {
    padding: 0;
    border-radius: 50%;
    border: none;
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 2.6em;
    text-align: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
.btn-fab.btn-lg {
    width: 3em;
    height: 3em;
    line-height: .5em;
}
.btn-fab > span {
    vertical-align: middle;
    font-size: 1.5em;
}

.btn-fab.btn-lg > span {
    top: 0;
    left: 1px;
}

.floating {
    position: absolute;
}
.floating.bottom {
    bottom: 2rem;
}
.floating.left {
    left: 2rem;
}
.floating.right {
    right: 2rem;
}

.fab-dial .dropdown-menu {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.2s,opacity 0.2s ease-out;
    transition: visibility 0s linear 0.2s,opacity 0.2s ease-out;
}

.fab-dial.open .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.fab-dial .dropdown-menu>li>a {
    padding: .5rem 0 .5rem .7rem;
}

.fab-dial .dropdown-menu .btn-fab {
    position: relative;
    z-index: 1;
}

.fab-dial .badge {
    font-weight: inherit;
    padding: .7rem 1rem .6rem 2.3rem;
    border-radius: 2rem;
    margin-left: -2rem;
    background: rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}


.bootstrap-dialog.has-close-btn-ok .modal-header .close {
    font-size: 0;
    margin-top: 0;
    color: #FFF;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
    font-weight: 400;
}

.bootstrap-dialog.has-close-btn-ok .modal-header .close:before {
    content: "OK";
    font-size: 16px;
}

.bootstrap-dialog.body-no-padding .modal-body {
    padding: 0;
}

.bootstrap-dialog.bottom-sheet .modal-dialog {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    margin: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.bootstrap-dialog.bottom-sheet .modal-content,
.bootstrap-dialog.bottom-sheet .modal-header {
    border-radius: 0;
    border: none;
}

.bootstrap-dialog.bottom-sheet .modal-content {
    color: #FFF;
    background: rgba(0, 0, 0, .7);
}

.bootstrap-dialog.bottom-sheet.theme-orange .modal-header {
    background: #EB5A14;
}
.bootstrap-dialog.bottom-sheet.theme-magenta .modal-header {
    background: #F4004F;
}
.bootstrap-dialog.bottom-sheet.theme-lime .modal-header {
    background: #8BE129;
}
.bootstrap-dialog.bottom-sheet.theme-yellow .modal-header {
    background: #FFD104;
}


#main {
    position: absolute;
    width: 100%;
    left: 0;
    top: 46px;
    bottom: 0;
}


/* PAGES */

.page {
    opacity: 1;
    transition: opacity .3s linear;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #FFF;
    font-size: 1.3rem;
}

.page.scrollable {
    overflow: auto;
}

.page.scrollable.with-header > .container {
    padding-top: 55px;
}

.page.scrollable.with-footer {
    padding-bottom: 65px;
}


/* HOME */

.page-home .header {
    height: 50%;
    background: url("../images/800x400.jpg") no-repeat center;
    background-size: cover;
}

.page-home .actions {
    text-align: center;
    padding-top: 3rem;
}

.page-home .actions .btn {
    min-width: 40%;
}

/* POI */

.page-poi {
    background: #E9E9E9;
}

.page-poi .header img {
    width: 100%;
}

.page-poi .row {
    position: relative;
    margin: 2rem 0 0 3.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #CCC;
}

.page-poi .row-icon {
    position: absolute;
    top: 0;
    left: -3.7rem;
    font-size: 2rem;
}

.page-poi .row:last-child {
    border-bottom: none;
}

.page-poi .footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 15px;
    border-collapse: separate;
    border-spacing: 10px 0;
    padding: 0 5px;
}

.page-poi .footer .btn {
    background: #EB5A14;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.1rem;
}

/* CONTRIBUTION */

.page-contribution .header {
    height: 50%;
    background: url("../images/800x400.jpg") no-repeat center;
    background-size: cover;
}
