.page-profile .header .photo{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #3EB088;
    margin: 0 auto;
    background: no-repeat center;
    background-size: cover;
}
.page-profile .header {
    text-align: center;
    padding: 3rem;
    border-bottom: 1px solid #222;
}
.page-profile .header .names {
    text-transform: uppercase;
}
.page-profile{
	background: rgba(0,0,0,1);
	color: white;
}

.interface-disabled-badge {
    opacity: 0.5;
}
hr{
	border-top: 1px solid #222;
}
body.section-profile .app-header .btn-back {
    display: inline-block;
}
body.section-profile .app-header .btn-sidenav {
    display: none;
}
body.section-profile .app-header {
	background: rgba(0,0,0,1);
}